body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.intro h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.workout-plan h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.workout-plan ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.workout-plan ul li {
    margin: 10px 0;
    font-size: 1.2rem;
}

.cta-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #0056b3;
}

.tutorials {
    margin-top: 30px;
}

.video-tutorials {
    display: flex;
    justify-content: space-between;
}

.video-card {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    width: 30%;
    border-radius: 5px;
}

.video-card:hover {
    background-color: #ccc;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.about {
    padding: 20px;
}

.about h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}